# === Backend ===
/backend/target/
/backend/.idea/
/backend/.classpath
/backend/.project
/backend/.settings/

# === Frontend ===
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/src/environments/environment*.ts
/frontend/.vscode/

# === General ===
*.log
.DS_Store
.env